<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Zidane Novanda Putra" />
    <meta
      name="description"
      content="Resto Radar - A restaurant calogoue application"
    />
    <meta
      name="keywords"
      content="Resto Radar, Katalog Restoran, Restaurant Catalogue, Resto Radar Katalog Restoran Restaurant Catalogue"
    />
    <meta name="robots" content="index, follow" />
    <title>Resto Radar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://kit.fontawesome.com" />
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev" />
    <script src="https://kit.fontawesome.com/7664686b67.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <app-bar></app-bar>
      <hero-element></hero-element>
    </header>

    <main id="main"></main>

    <footer-element></footer-element>
  </body>
</html>
