@mixin pulse($time) {
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  animation: pulse $time cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@mixin spin($time) {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: spin $time linear infinite;
}
