@use './placement';

@mixin base-button() {
  min-height: 44px;
  min-width: 44px;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}

@mixin base-link() {
  @include placement.flex-layout(row, center, center,0);
  min-height: 44px;
  min-width: 44px;
  text-decoration: none;
}